body{
    background-color: rgba(0, 0, 255, 0.318);
    text-align: center;
}
.nav{
    width: 100dvw;
    height: 10dvh;
    /* border: 1px solid rgba(255, 255, 255, 0.315); */
    background-color: rgba(157, 157, 157, 0.139);
    position: fixed;
    top: 10px;
}
.prod-cont{
    margin: 6.9rem;
    width: 80dvw;
}
.total{
    background-color: rgba(0, 0, 0, 0.513);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
.note{
    text-align: center;
    width: 100dvw;
    /* border: 1px solid red; */
}